body {
    height: 100vh;
    margin: 0;
}

#options {
    width: 200px;
    height: 100vh;
    background-color: rgb(203, 212, 220);
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
