body {
    height: 100vh;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#options {
    z-index: 99;
    width: 220px;
    height: 100vh;
    background-image: linear-gradient(rgb(164, 224, 220), rgb(164, 183, 226));
    float: left;
    display: fixed;
    padding-left: 10px;
}

input {
    width: 185px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 0;
}

h3 {
    margin-top: 5px;
    margin-bottom: 25px;
}

input, textarea, button {
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 5px;
}

button {
    padding: 8px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(215, 221, 249);
}

canvas {
    position: fixed;
    overflow: hidden;
    margin-left: 100px;
}
